<%= stylesheet_link_tag "mime1" %>
<%= stylesheet_link_tag "mime2" %>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body>
  <div class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;position:fixed;bottom:0;left:0;right:0;top:0">
    <div class="container" style="padding-top:150px">
      <div class="row">
        <div class="bg-white p-5 mx-auto col-md-8 col-10">
          <h3 class="display-3">Issue Tracker</h3>
<% if current_user.blank? %>
          <p class="mb-3 lead">Welcome!</p>
          <%= link_to 'Sign in with Github', '/auth/github', class:"btn btn-outline-primary" %>
<% else %>
          <p class="mb-3 lead">You are signed in as <%= current_user.username %>.  Click the button below to sign out.</p>
          <%= button_to "Sign Out", signout_path, method: :delete, class:"btn btn-outline-primary" %>
<% end %>
        </div>
      </div>
    </div>
  </div>
</body>
