  <%= form_for :post, url: {action: "create"} do |form| %>

  <%= stylesheet_link_tag "mime1" %>
  <%= stylesheet_link_tag "mime2" %>
  
  <div class="form-group" style="margin-top:40px"> 
    <div>
      <%= form.label :file %>
      <%= form.file_field :image %>

  </div>
  <%= form.submit :Create , data: { disable_with: false }, style: "color:black;border-color:black;background-color:white;display:inline;position: absolute;right: 15px;", class: "btn btn-primary" %>
  </div>

<% end %>

