  <%= form_for :comment, url: {action: "comment", params: {id: @issue.id}}  do |form| %>

  <% if @comment.present? %>
  <% t = 0
     if @comment.errors.any? 
        if @comment.errors.include? 'text'
            t = 1
        end
     @comment.errors.clear
     end%>
  <% end %>

  <%= stylesheet_link_tag "mime1" %>
  <%= stylesheet_link_tag "mime2" %>

  <div class="form-group" style="margin-top:40px">
    <% if t == 1 %>
    <div style="color:red"> This field is required </div>
    <br>
  <% end %>
  <img src='<%= current_user.avatar_url %>' style="display: inline;height:36px; border-radius:18px; margin-right:20px;margin-bottom:20px"/>
  <%= form.text_area :text, placeholder: "What do you want to say?", style:"width: 75%;",  class: 'form-control' %>
<%= form.submit :Create , data: { disable_with: false }, style: "color:black;border-color:black;background-color:white;display:inline;position: absolute;right: 15px;", class: "btn btn-primary" %>
  <div>
      <%= form.label :Attachment %>
      <label class="custom-file-upload" style="margin-left:10px">
            Upload new attachment
            <span style="display:none;">
                <%= form.file_field :attachment_identifier %>
            </span>
        </label>
    </div>
  </div>

<% end %>

