  <%= form_for :comment, :url => "/issues/"+@issue.id.to_s+"/comments/"+@comment.id.to_s, :method => "patch"  do |form| %>
  <% if @comment.present? %>
  <% t = 0
     if @comment.errors.any? 
        if @comment.errors.include? 'text'
            t = 1
        end
     @comment.errors.clear
     end%>
  <% end %>

  <%= stylesheet_link_tag "mime1" %>
  <%= stylesheet_link_tag "mime2" %>

  <div class="form-group" style="margin-top:40px">
    <% if t == 1 %>
    <div style="color:red"> This field is required </div>
    <br>
  <% end %>
  <img src='<%= current_user.avatar_url %>' style="display: inline;height:50px; border-radius:18px; margin-right:10px;margin-bottom:30px"/>
  <%= form.text_area :text, placeholder: "What do you want to say?", style:"width: 85%;",  class: 'form-control' %>
  </div>
    <% com=Comment.find_by_id(params[:comment_id])%>
    <% if !com.post.blank? %>
      <div>
        <%= form.label :"Change Attachment" %>
        <label class="custom-file-upload" style="margin-left:10px">
            Upload new attachment
            <span style="display:none;">
                <%= form.file_field :attachment_identifier %>
            </span>
        </label>
      </div>
      <div>
      <br>
        Remove attachments: <%= form.check_box :kill, {}, "true", "false" %>
      </div>
    <% else %>
      <div>
        <%= form.label :"Add attachment" %>
        <label class="custom-file-upload" style="margin-left:10px">
            Upload new attachment
            <span style="display:none;">
                <%= form.file_field :attachment_identifier %>
            </span>
        </label>
      </div>
    <% end %>
    <br>
    <div class="row" style="margin-top:10px; margin-left:180px; margin-right:200px">
        <div class="col-md-6" style="">
            <%= form.submit :Confirm , data: { disable_with: false }, style: "color:white;border-color:black;background-color:black", class: "btn btn-primary" %>
        </div>
        <div class="col-md-2 offset-md-4" style="">
            <%= link_to 'Back', issue_path(@issue), class: "btn btn-primary", style: "color:white;border-color:black;background-color:black" %>
        </div>
  </div>

<% end %>

