  <%= form_with(model: @issue, local: true) do |form| %>

  <% t = 0
     d = 0
     if issue.errors.any? 
        if issue.errors.include? 'title'
            t = 1
        end
        if issue.errors.include? 'description'
            d = 1
        end
     issue.errors.clear
     end%>

  <%= stylesheet_link_tag "mime1" %>
  <%= stylesheet_link_tag "mime2" %>
  
  <div class="form-group"> 
  <%= form.label :Title %>
  <%= form.text_field :title, class: 'form-control' %></div>
  <% if t == 1 %>
    <div style="color:red"> This field is required </div>
    <br>
  <% end %>
  
  <div class="form-group">
    <%= form.label :Description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <% if d == 1 %>
    <div style="color:red"> This field is required </div>
    <br>
  <% end %>

  <table style="width:50%">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td><%= form.label :Assignee, style: "font-size:17px;" %></td>
        <td><%= form.select(:name, User.all.collect { |v| [ v.username, v.username ] },
                 {}, { "data-placeholder": "Select assignee" }) %></td>
    </tr>
    <tr>
        <td><%= form.label :"Status", style: "font-size:17px;" %></td>
        <td><% if @issue.status.blank? %>
                    <%= form.select :status, ["NEW","DUPLICATE", "RESOLVED", "INVALID", "ON HOLD"], :selected => "NEW", :class => 'genForm_dropBox'  %>
                <% else %>
                    <%= form.select :status, ["NEW","DUPLICATE", "RESOLVED", "INVALID", "ON HOLD"], :selected => @issue.status, :class => 'genForm_dropBox' %>
                <% end %></td>
    </tr>
    <tr>
        <td><%= form.label :type, style: "font-size:17px;" %></td>
        <td><% if @issue.tipus.blank? %>
                    <%= form.select :tipus,["BUG", "ENHANCEMENT", "PROPOSAL", "TASK"], :selected => "BUG", :class => 'genForm_dropBox' %>
                <% else %>
                    <%= form.select :tipus, ["BUG", "ENHANCEMENT", "PROPOSAL", "TASK"], :selected => @issue.tipus, :class => 'genForm_dropBox' %>
                <% end %></td>
    </tr>
    <tr>
        <td><%= form.label :priority, style: "font-size:17px;" %></td>
        <td><% if @issue.priority.blank? %>
                    <%= form.select :priority, ["MAJOR", "TRIVIAL", "MINOR", "CRITICAL", "BLOCKER"], :selected => "MAJOR", :class => 'genForm_dropBox' %>
                <% else %>
                    <%= form.select :priority, ["MAJOR", "TRIVIAL", "MINOR", "CRITICAL", "BLOCKER"], :selected => @issue.priority, :class => 'genForm_dropBox' %>
            <% end %></td>
    </tr>
  </table>

  <br>
  <div class="row" style="margin-top:10px; margin-left:180px; margin-right:200px">
        <div class="col-md-6" style="">
            <%= form.submit :Confirm , data: { disable_with: false }, class: "btn btn-primary" %>
        </div>
        <div class="col-md-2 offset-md-4" style="">
            <%= link_to 'Back', issues_path, class: "btn btn-primary", style: "color:white;border-color:black;background-color:black" %>
        </div>
  </div>

<% end %>

