<%= stylesheet_link_tag "mime1" %>
<%= stylesheet_link_tag "mime2" %>
<!DOCTYPE html>
<html>
<%
  if current_user.blank?

  else
    username = current_user.username;
    avatar_url = current_user.avatar_url;
  end
%>
<head>
<meta charset="utf-8">
<title>Issues</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
<div class="container" > <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
<p align="center" class="navbar-brand mb-0 text-white">
<i class="fa d-inline fa-lg fa-stop-circle"></i> ISSUE TRACKER </p>
</button>
<div class="collapse navbar-collapse" id="navbar14">
<ul class="navbar-nav mr-auto">
<li class="nav-item"> <a class="nav-link" href="<%= getHostFromIssues %>">Issues</a> </li>
</ul>
<p class="d-none d-md-block lead mb-0  text-white"> <i class="fa d-inline fa-lg fa-stop-circle"></i> <b> ISSUE TRACKER</b> </p>
<ul class="navbar-nav ml-auto">

<% if current_user.blank? %>
<li class="nav-item"> <a class="nav-link" href='<%= getHostFromIssues + 'sessions/new' %>'>Sign in</a> </li>
<% else %>
<li class="nav-item"> <a class="nav-link"><%= username %></a> </li>
<li class="nav-item"> <img src='<%= avatar_url%>' style="height:36px; border-radius:18px; margin-right:20px;"/> </li>
<li class="nav-item"> <a class="nav-link" href='<%= getHostFromIssues + 'sessions/new' %>'>Log Out</a> </li>
<% end %>
</ul>
</div>
</div>
</nav>
<div style="margin: auto; margin-top: 60px; width: 1200px; max-width: 90%; margin-bottom:40px">
<p id="notice"><%= notice %></p>

<h1 style="margin-bottom: 30px;">Issues</h1>

<% if !current_user.blank? %>
<button onclick="myFunction()" class="btn btn-primary" style="color:black;border-color:#D3D3D3;background-color:#D3D3D3;margin-bottom:10px">Generate API Token</button>
<div id="divToken" class="card bg-light mb-3" style ="display: none">
    <div class="card-header" style="display:flex; flex-direction:row; justify-content:space-between;font-size:17px;font-weight:bold;">
        <h>API access</h>
    </div>
    <div class="card-body">
        <h>You can check the operations clicking in this <a href="https://blooming-forest-68248.herokuapp.com/api-docs/index.html">link</a>. Use this generated key to acces the different methods:
            <%= if !current_user.blank? && !current_user.api_token.blank? 
                    current_user.api_token.token 
            end%>
        </h>
    </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("divToken");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<%end%>

<table class="table table-hover">
<thead>
<tr>
<th><%= link_to "Title", manage_order('title'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_title" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %></th>
<th style="width: 60px;">
  <%= link_to "T", manage_order('tipus'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_tipus" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>  
<th style="width: 60px;">
  <%= link_to "P", manage_order('priority'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_priority" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 60px;">
  <%= link_to "Status", manage_order('status'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_status" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 85px;">
  <%= link_to "Votes", manage_order('votes'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_votes" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 160px;">
  <%= link_to "Assignee", manage_order('assignee'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_user" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 120px;">
  <%= link_to "Created", manage_order('created'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_created" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 120px;">
  <%= link_to "Updated", manage_order('updated'), style:"color:#666;" %>
  <% if request.original_url.include? "ordered_by_updated" %>
    <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
  <% end %>
</th>
<th style="width: 120px;">
  <% if current_user.blank? %>
  <img src="https://image.flaticon.com/icons/svg/159/159604.svg" style="color:#666; height:26px;">
  <% else %>
    <%= link_to image_tag("https://image.flaticon.com/icons/svg/159/159604.svg", height: 26), manage_order('follow'), style:"color:#666;" %>
    <% if request.original_url.include? "ordered_by_follow" %>
      <img src="https://image.flaticon.com/icons/svg/32/32195.svg" style="height: 15px;">
    <% end %>
  <% end %>
</th>
</tr>
</thead>
<tbody>
<% @issues.each do |issue| %>
  <tr onclick="window.location.href = '<%= getHostFromIssues + 'issues/' + issue.id.to_s %>';">
  <th scope="row"><%= issue.title %></th>
  <td>
  <div class="has-link">
  <%= link_to issue.tipus, manage_filters('tipus', issue.tipus), style:"color:#666;" %>
  </div>
  </td>
  <td>
  <div class="has-link">
  <%= link_to issue.priority, manage_filters('priority', issue.priority), style:"color:#666;" %>
  </div>
  </td>
  <td>
  <div class="has-link">
  <%= link_to issue.status, manage_filters('status', issue.status), style:"color:#666;" %>
  </div>
  </td>
  <td><%= issue.votes %></td>
  <td>
  <div class="has-link">
  <img src="<%= User.find_by_username(issue.stringassign).avatar_url %>" style="height:26px; border-radius:13px;" />

  <%= link_to issue.stringassign, manage_filters('assign', issue.stringassign), style:"color:#666;" %>
  </div>
  </td>
  <td><%= issue.created %></td>
  <td><%= issue.updated %></td>
  <td>
    <% if isFollowing(issue) %>
      Following
    <% else %>
      Not following
    <% end %>
  </td>
  </tr>
  <% end %>
  </tbody>
  </table>
  
  <br>
  
  <div style="display:flex; flex-direction:row;padding-bottom:100px">
  <% if request.original_url.include? '?' %>
  <%= link_to 'Delete filters', issues_path, class: "btn btn-primary", style: "color:white;border-color:black;background-color:black" %>
  <% end %>
  <div style="margin-left:10px;">
  <% if current_user.blank? %>
  <p style="color:darkred;">You need to be logged in to create a new issue</p>
  <% else %>
  <%= link_to 'New Issue', new_issue_path, class: "btn btn-primary", style: "position:absolute;margin-bottom:100px;color:white;border-color:black;background-color:black" %>
  <% end %>
  </div>
  </div>

  </div>
  <div class="footer" style="color:white;padding-top:25px;padding-bottom:20px">
  <p style="text-align:center;">©2019 Issue Tracker For Student Purposes</p>
  </div>

  <script>
  Array.prototype.slice.call(document.getElementsByClassName("has-link")).forEach((e) => e.addEventListener('click', (event) => event.stopPropagation()));
  </script>

  </body>
