<%= stylesheet_link_tag "mime1" %>
<%= stylesheet_link_tag "mime2" %>
<%= stylesheet_link_tag "personalize" %>
<!DOCTYPE html>
<html>
<%
  if current_user.blank?

  else
    username = current_user.username;
    avatar_url = current_user.avatar_url;
  end
%>

<head>
    <meta charset="utf-8">
    <title>Create New Issue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
  <div class="container" > <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
    <p align="center" class="navbar-brand mb-0 text-white">
      <i class="fa d-inline fa-lg fa-stop-circle"></i> ISSUE TRACKER </p>
  </button>
    <div class="collapse navbar-collapse" id="navbar14">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="<%= getHostFromIssues %>">Issues</a> </li>
      </ul>
      <p class="d-none d-md-block lead mb-0  text-white"> <i class="fa d-inline fa-lg fa-stop-circle"></i> <b> ISSUE TRACKER</b> </p>
      <ul class="navbar-nav ml-auto">

        <% if current_user.blank? %>
          <li class="nav-item"> <a class="nav-link" href='<%= getHostFromIssues + 'sessions/new' %>'>Sign in</a> </li>
        <% else %>
          <li class="nav-item"> <a class="nav-link"><%= username %></a> </li>
          <li class="nav-item"> <img src='<%= avatar_url%>' style="height:36px; border-radius:18px; margin-right:20px;"/> </li>
          <li class="nav-item"> <a class="nav-link" href='<%= getHostFromIssues + 'sessions/new' %>'>Log Out</a> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <div class="py-5" style="margin-top:20px">
    <div class="container" style="margin-top:1px;">
    <h3 style=""><center>New Issue</center></h3>
      <div class="row">
        <div class="col-md-1" style=""></div>
        <div class="col-md-8 offset-md-1" style="">
            <%= render 'form', issue: @issue %>
            </div>
          </div>
        </div>
      </div>

  <div class="footer" style="color:white;padding-top:25px;padding-bottom:20px">
          <p style="text-align:center;">©2019 Issue Tracker For Student Purposes</p>
  </div>
</body>
